/* Pulsrechner */

/* #under {
  text-align: center;
}

.inputCalculator,
.WinputCalculator,
.HrDamenCalculator,
.HrHerrenCalculator {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5%;
}

#HrDamenCalculatorOutput,
#HrHerrenCalculatorOutput,
#HrDamenCalculatorInput,
#HrHerrenCalculatorInput,
#WattInput {
  width: 30%;
  height: auto;
  text-align: center;
  font-size: 17px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border-radius: 5px;
  border: 3px #678475 solid;
  background-color: #67847524;
}

#HrDamenCalculateBtn,
#HrHerrenCalculateBtn,
#WcalculateBtn {
  height: 30px;
  width: 30%;
  background-color: #678475eb;
  border: 1px #000000 solid;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.83);
  margin: 3%;
  font-size: 17px;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#HrHerrenCalculateBtn:hover,
#HrDamenCalculateBtn:hover,
#calculateBtn:hover,
#WcalculateBtn:hover {
  background-color: #678475df;
  cursor: pointer;
}

#HrHerrenCalculateBtn:active,
#HrDamenCalculateBtn:active,
#calculateBtn:active,
#WcalculateBtn:active {
  background-color: #0b1c13df;
  cursor: pointer;
  color: white;
}

.tg-calc {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
  font-size: 17px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

th {
  height: auto;
  background-color: #678475;
  color: #000000;
  border-radius: 5px;
  padding: 5px;
  border: 1px #000000 solid;
  color: white;
  font-size: 17px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.tg td {
  height: 50px;
  width: 25%;
  text-align: center;
  border: 1px #678475 solid;
  border-radius: 5px;
  font-size: 15px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#tgOutput1,
#tgOutput2,
#tgOutput3,
#tgOutput4,
#tgOutput5,
#aerobicOutput,
#anaerobicOutput,
#tgOutput700,
#tgOutput600,
#tgOutput500,
#tgOutput400,
#tgOutput300,
#tgOutput200,
#tgOutput100 {
  width: 90%;
  border: none;
  font-size: 14px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
} */

td {
  height: 3rem;
  border: solid 1px rgba(255, 255, 255, 0.56);
}

#zone1 {
  background-color: rgba(199, 200, 208, 0.7);
}
#zone2 {
  background-color: rgba(64, 159, 207, 0.7);
}
#zone3 {
  background-color: rgba(43, 233, 43, 0.7);
}
#zone35 {
  background-color: rgba(29, 111, 43, 0.7);
}
#zone4 {
  background-color: rgba(255, 255, 0, 0.7);
}
#zone45 {
  background-color: rgba(240, 154, 5, 0.7);
}
#zone5 {
  background-color: rgba(255, 0, 0, 0.7);
}
