@tailwind base;
@tailwind components;
@tailwind utilities;

* ::-webkit-scrollbar {
  display: none;
  box-sizing: border-box;
}

:root {
  --first-color: #222c37;
  --second-color: #f5f4f5;
  --third-color: #a8b0c6;
  --fourth-color: #b4506b;
}

body {
  background-color: var(--first-color);
}
