@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --first: #f5f4f5;
  --second: #35558287;
  --third: #007ca687;
  --fourth: #00a3b187;
  --alert: #00a3b1;
}

* ::-webkit-scrollbar {
  display: none;
  box-sizing: border-box;
}

body {
  overscroll-behavior: none;
  min-height: 100vh;
  position: fixed;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  color: #f5f4f5;
  background-image: linear-gradient(
    to right bottom,
    #1d2732,
    #232f3c,
    #293746,
    #2f3f50,
    #2f3f50,
    #293746,
    #232f3c,
    #1d2732
  );
  white-space: pre-line;
  vertical-align: bottom;
}

@media print {
  html,
  body {
    height: 100%;
    width: 100%;
    min-width: 100%;
    text-align: center;
    overflow: scroll;
    background-image: none;
  }
}

.print-page {
  width: 100%;
  font-size: 0.8rem;
  background: white;
  color: black;
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
}

.icon-text {
  font-size: 0.6rem;
}

.linear-background {
  background-image: linear-gradient(
    to right bottom,
    #1d2732,
    #232f3c,
    #293746,
    #2f3f50,
    #2f3f50,
    #293746,
    #232f3c,
    #1d2732
  );
}

/*----------------tables----------------------*/

input[type="number"] {
  background-color: var(--second);
  text-align: center;
}

input[type="text"] {
  background-color: transparent;
  text-align: center;
}

input[type="time"] {
  background-color: var(--second);
  text-align: center;
}

td {
  height: 3rem;
  border: 1px solid var(--first);
}

tr {
  border: 1px solid var(--first);
}

#zone1 {
  background-color: rgba(199, 200, 208, 0.7);
}
#zone2 {
  background-color: rgba(64, 159, 207, 0.7);
}
#zone3 {
  background-color: rgba(43, 233, 43, 0.7);
}
#zone35 {
  background-color: rgba(29, 111, 43, 0.7);
}
#zone4 {
  background-color: rgba(255, 255, 0, 0.7);
}
#zone45 {
  background-color: rgba(240, 154, 5, 0.7);
}
#zone5 {
  background-color: rgba(255, 0, 0, 0.7);
}

/*----------------session overlay----------------------*/

.overlay-background {
  background-image: linear-gradient(
    to right bottom,
    #1d2732,
    #232f3c,
    #293746,
    #2f3f50,
    #2f3f50,
    #293746,
    #232f3c,
    #1d2732
  );
}
.dark-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;
}
