@tailwind base;
@tailwind components;
@tailwind utilities;

* ::-webkit-scrollbar {
  display: none;
  box-sizing: border-box;
}

html {
  overflow: hidden;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  color: #f5f4f5;
  background-color: #222c37;
}
